python-dotenv
google-genai
python-telegram-bot
requests
beautifulsoup4
playwright
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
APScheduler
tzlocal
python-magic
python-magic-bin ; sys_platform == 'win32'
openai
